In [106]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import re
import pandas as pd
import os
from selenium.webdriver.common.by import By
# import org.openqa.selenium.WebElement
import time

In [123]:
# Read the dataset cleaned
csv_path = "Resources/name.csv"                    
df = pd.read_csv(csv_path)
df.head()

    Defendant  Gender
0      MONROE     NaN
1        QSEI     NaN
2     MIDALYS     NaN
3    SOUPRINA     NaN
4  MAXIMILIEN     NaN

In [124]:
#launch url
url = "https://www.genderchecker.com/search.aspx"

# create a new Firefox session
driver = webdriver.Firefox()
driver.implicitly_wait(1)
driver.get(url)

In [125]:
from selenium.common.exceptions import NoSuchElementException

In [126]:
for index,row in df.iterrows(): 
    
#FOllow:https://selenium-python.readthedocs.io/locating-elements.html

    #launch url
#     url = "https://www.genderchecker.com/search.aspx"

#     # create a new Firefox session
#     driver = webdriver.Firefox()
#     driver.implicitly_wait(1)
#     driver.get(url)
    
    search_box = driver.find_element_by_id('TextBoxName');
    name = str(row['Defendant'])

    search_box.send_keys(name);

    search_box.send_keys(Keys.RETURN)
    time.sleep(1)
    #     gender = result.text

    #     print(result.text)
    #     while True:

    try:
        result = driver.find_element_by_id('ContentPlaceHolder1_LabelGenderFound')
        df.loc[index, 'Gender'] = result.text
        time.sleep(1)


    except:
        df.loc[index, 'Gender'] = "empty"
#       pass

In [127]:
df.head()

    Defendant  Gender
0      MONROE  unisex
1        QSEI   empty
2     MIDALYS   empty
3    SOUPRINA   empty
4  MAXIMILIEN    male

In [128]:
df.to_csv("Resources/gender5.csv",index=True,header=True)